<?xml version="1.0"?>
<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    <arg name="ssl" value="true"/>
    <arg name="certfile" value="/app/cert/certificate.pem"/>
    <arg name="keyfile" value="/app/cert/privateKey.pem"/>
	</include>
  <node name="rostensorflow" pkg="rostensorflow" type="object_detection.py" output="screen"/>
</launch>
